{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portafolio </title>

    
    <link rel="stylesheet" href ="{% static 'first_app/css/index.css' %}">

</head>

<body>
    <header>
        <div class="container">
            <p class="logo"> mi portafolio </p>
            <nav>
                <a href="#">blog</a>
                <a href="#">about</a>
                <a href="#">contac</a>
            </nav>
        </div>
    </header>

    
    <section id="hero">
        <h1>Tecnicó en Programación de Sofware<br>Programador Web </h1>
        <button>DESACARGA MI CV</button>
    </section>

    <section id="about">
        <div class="container">
            <div id="img_conteiner">ruta de la imagen </div>

                <h1> me llamo brayan</h1>
                <description>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam aliquam beatae illum ad incidunt eligendi eaque sint reiciendis amet laudantium expedita provident, cum aliquid sit culpa, sapiente porro ea ex.
                </description>
        </div>

    </section>

    <section id=" nuestros projectos">   
        <div class="container">
            
            <h1>nuestros projectos de programacion</h1>
            
            <div id="projecto1">
                <h3>algoritmo de trading</h3>
                <description>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad molestiae, dolor voluptate neque suscipit minima quibusdam temporibus fugit rem corporis fugiat, error soluta, libero quam esse aliquam culpa voluptas quidem?
                </description>
                <button>
                    link githut
                </button>

            </div>
            <div id="projecto2">
                <h3>control scolar</h3>
                <description>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad molestiae, dolor voluptate neque suscipit minima quibusdam temporibus fugit rem corporis fugiat, error soluta, libero quam esse aliquam culpa voluptas quidem?
                </description>
                <button>
                    link githut
                </button>
            </div>
                
            <div id="projecto3">
                <h3>web scraping</h3>
                <description>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad molestiae, dolor voluptate neque suscipit minima quibusdam temporibus fugit rem corporis fugiat, error soluta, libero quam esse aliquam culpa voluptas quidem?
                </description>
                <button>
                    link githut
                </button>
            </div>

        </div>

    </section>

    <footer>
        <div class="cotainer">

            <a href="brayanramirez4546@gmail.com">gmail</a>

            <a href="git hut">enlace ami githut</a>
            <p>&copy;copy brayan</p>
       

        </div>

    </footer>
 
</body>
</html>