/* modificaciones de toda la pagina web */

*{
    font-family:Arial;
    margin: 0; 
    padding: 0; 
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}
/* modificacion de todos los botones de la pagina web */
/* modificacion de todos los botones de la pagina web */
button{
    font-size: 1.3em;  
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 15px 15px;
    box-shadow: 3px 3px 3px;
    color:white;
    background-color:rgb(91, 8, 168);
}

button:hover{
    background-color:blueviolet;
}
/* modificacion del header o inicio  */



.header__nav {
    margin: auto;
    padding: 40px; 
    text-align: center;
    
}
   
.header__nav__link{
    padding: 20px;
    text-decoration:none;
    color:black;
    font-weight: bold;
    
    
}
.header__nav__link:hover{
    background-color: blueviolet;
}

/* modificaciones de toda la pagina web */

*{
    font-family:Arial;
    margin: 0; 
    padding: 0; 
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}
/* modificacion de todos los botones de la pagina web */
/* modificacion de todos los botones de la pagina web */
button{
    font-size: 1.3em;  
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 15px 15px;
    box-shadow: 3px 3px 3px;
    color:white;
    background-color:rgb(91, 8, 168);
}

button:hover{
    background-color:blueviolet;
}
/* modificacion del header o inicio  */



.header__nav {
    margin: auto;
    padding: 40px; 
    text-align: center;
    
}
   
.header__nav__link{
    padding: 20px;
    text-decoration:none;
    color:black;
    font-weight: bold;
    
    
}
.header__nav__link:hover{
    background-color: blueviolet;
}

/* modificacion del hero o cv */
.hero{
    height: 90%;
    width: 100%;
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("..//imagenes/inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
}

.hero__h1{
    font-size: 1.5cm;
    padding: 20px;
    color: white;
} 

.hero__p{
text-align: center;
padding: 30px;
}