
/* modificaciones de toda la pagina web */
html{
    scroll-behavior: smooth;
}
*{
    font-family:Arial;
    margin: 0; 
    padding: 0; 
    box-sizing:border-box; 
}

/* modificacion de todos los botones de la pagina web */
button{
    font-size: 1.3em;  
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 15px 15px;
    box-shadow: 3px 3px 3px;
    color:blanchedalmond;
    background-color:rgb(91, 8, 168);
}

button:hover{
    background-color:blueviolet;
}
/* modificacion del header o inicio  */

   

.header__container{
    display:flex;
    flex-direction:column;
    align-items:center;  
}



.header__nav{
    display: flex;
    flex-direction:column;
    text-align: center;
   
}

.header__nav__link{
    padding: 5px ;
    text-decoration:none;
    color:black;
    font-weight: bold;
}
.header__nav__link:hover{
    background-color: blueviolet;
}

/* modificacion del hero o cv */
.hero{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("..//imagenes/inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
}

.hero__h1{
    color: white;
} 

/* modificacion de section sobre mi */
.sobre-mi__nombre{ color:blueviolet;}

.sobre-mi__container {
   text-align: center;
   
}

/* modificacion de section nuestros proyectos  */
.proyectos{
   
    background-color: rgba(30,30,30);
    color: white;
    text-align: center;
    
}
.proyectos__p{
    display: none;
}

.proyectos__carta{
    background-position: center center;
    background-size:cover;
    
    margin: 15px;
    border-radius: 40px;
}

.proyectos__carta:first-child{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../imagenes/scraping.jpg");
}

.proyectos__carta:nth-child(2){
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("..//imagenes/gmail.png");
}


.proyectos__carta:nth-child(3){
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("..//imagenes/inicio.jpg");
}
/* modificacion de section tegnoligias  */

.tegnologias__container{
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
   

}
.tegnologias__container{
    display: flex;

}



.tegnologias__img{ 
    background-color: blueviolet;
   
   
    margin: 5px;

}

/* modificacion de section fotter o contactame  */
.footer{
    background-color: rgba(30,30,30);

}
    
.footer_img{
   
    margin: 10px;

} 















  






 











