
body{
    font-family:Arial;
    margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 3.0em;}
h3{font-size: 2.5em;}
p{font-size: 2.5em;}


button{
    font-size: 1.3em;  
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 15px 15px;
    box-shadow: 3px 3px 3px;
    color:aliceblue;
    background-color:rgb(62, 27, 189);
}

button:hover{
    background-color:rgb(76, 24, 143);
}

.container{
    max-width: 1400px;
    margin:auto
      
} 

header{

background-color: rgb(245, 245 ,245);

}

header .logo {
    margin: 0%;
    padding: 25px 30px;
    font-weight: bold;
    color:rgb(226, 19, 19) ;
    font-size: 1.6em;
    
}


header .container{
    display:flex;
    flex-direction:column;
    align-items:center;
}

header.nav{
    display: flex;
    flex-direction:column ;
    align-items: center;
    padding-bottom:25px;
}

header a{
    padding: 5px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
   
    
}
header a.hover{
    background-color: rgb(143, 24, 24);
}


